 .on-air .on-air__schedule-link {
  height: 400px;
  width: 320px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px; }

 .on-air__schedule-controls {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 976px; }
   .on-air__schedule-controls .on-air__schedule-controls-btn {
    position: absolute;
    bottom: -32px;
    z-index: 1;
    color: rgba(49, 53, 62, 0.7);
    width: 32px;
    height: 32px;
    border: 0;
    background-color: #ffffff;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out; }
     .on-air__schedule-controls .on-air__schedule-controls-btn:hover,
     .on-air__schedule-controls .on-air__schedule-controls-btn:focus {
      background-color: #4c4c4c; }
     .on-air__schedule-controls .on-air__schedule-controls-btn.next {
      background-image: url("../img/nav_arrow_right.svg");
      background-repeat: no-repeat;
      right: 0; }
     .on-air__schedule-controls .on-air__schedule-controls-btn.next:hover,
     .on-air__schedule-controls .on-air__schedule-controls-btn.next:focus {
      background-image: url("../img/nav_arrow_right_hover.svg");
      background-repeat: no-repeat; }
     .on-air__schedule-controls .on-air__schedule-controls-btn.previous {
      background-image: url("../img/nav_arrow_left.svg");
      background-repeat: no-repeat;
      right: 33px; }
     .on-air__schedule-controls .on-air__schedule-controls-btn.previous:hover,
     .on-air__schedule-controls .on-air__schedule-controls-btn.previous:focus {
      background-image: url("../img/nav_arrow_left_hover.svg");
      background-repeat: no-repeat; }
     .on-air__schedule-controls .on-air__schedule-controls-btn:disabled {
      opacity: .4;
      cursor: default; }
     .on-air__schedule-controls .on-air__schedule-controls-btn.previous:hover:disabled {
      background-color: #ffffff;
      background-image: url("../img/nav_arrow_left.svg"); }
     .on-air__schedule-controls .on-air__schedule-controls-btn.next:hover:disabled {
      background-color: #ffffff;
      background-image: url("../img/nav_arrow_right.svg"); }

 .on-air {
  /* Three elements - Listen live + On Air Now + Track Now Playing */
  /* On Air Now */
  /* Hidden Polling Button */
  /* Contact link */ }
   .on-air .on-air__container .on-air-now {
    min-width: default;
    max-width: 806px;
    background-color: #ffffff;
    padding: 0; }
   .on-air .on-air__now__wrap {
    display: block;
    float: left; }
     .on-air .on-air__now__wrap .on-air__now__details {
      padding: 12px 16px;
      color: rgba(49, 53, 62, 0.7); }
       .on-air .on-air__now__wrap .on-air__now__details .on-air__info-top .on-air__title {
        font-weight: bold; }
   .on-air .on-air-polling-hidden {
    display: none; }
   .on-air .on-air-now .on-air__contact-link {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 16px;
    top: 12px;
    display: block;
    background-image: url("../img/contact.svg");
    background-repeat: no-repeat;
    background-size: contain; }

@media only screen and (min-width: 769px) and (max-width: 896px) {
   .on-air .on-air__container .on-air-now {
    min-width: 718px;
    max-width: 850px; }
     .on-air .on-air__container .on-air-now .on-air__now__wrap {
      float: none;
      width: 100%; } }

@media only screen and (max-width: 768px) {
   .on-air .on-air__container .on-air-now {
    max-width: 100%;
    min-width: 100%; } }

@media only screen and (min-width: 480px) and (max-width: 768px) {
   .on-air .on-air__now__wrap {
    width: 50%; } }

 .on-air .on-air__listen-live__mobile-wrap {
  display: none;
  visibility: hidden; }

 .on-air .on-air__listen-live__wrap {
  display: block;
  float: left;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative; }
   .on-air .on-air__listen-live__wrap .on-air__listen-live--cta {
    position: absolute;
    background: rgba(122, 0, 0, 0.7);
    padding: 2px 5px;
    text-align: center;
    display: block;
    margin: 10%;
    bottom: 2px; }
     .on-air .on-air__listen-live__wrap .on-air__listen-live--cta span {
      background-image: url("../img/iplayer-radio-play-light.svg");
      background-repeat: no-repeat;
      background-position: left;
      background-size: 17%;
      padding-left: 20px; }

 .on-air .on-air__episode-image {
  display: none;
  visibility: hidden; }

@media only screen and (min-width: 769px) and (max-width: 896px) {
   .on-air .on-air__listen-live__mobile-wrap {
    display: none; }
   .on-air .on-air__listen-live__wrap {
    width: 35%; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
   .on-air .on-air__listen-live__wrap {
    display: none;
    visibility: visible; }
   .on-air .on-air__listen-live__mobile-wrap {
    display: block;
    visibility: visible;
    position: relative; }
     .on-air .on-air__listen-live__mobile-wrap .on-air__episode-image {
      display: block;
      visibility: visible; }
     .on-air .on-air__listen-live__mobile-wrap .on-air__listen-live--button {
      position: absolute;
      display: block;
      visibility: visible;
      bottom: 10px;
      width: 100%;
      text-align: center; }
       .on-air .on-air__listen-live__mobile-wrap .on-air__listen-live--button .on-air__listen-live--cta {
        text-align: center;
        background-color: rgba(122, 0, 0, 0.7);
        padding: 10px;
        width: 90%;
        display: block;
        margin: 0 auto;
        font-size: 0.9rem; }
   .on-air #mp {
    left: 5%; } }

@media only screen and (min-width: 480px) and (max-width: 768px) {
   .on-air .on-air__listen-live--button {
    bottom: 20px; }
     .on-air .on-air__listen-live--button .on-air__listen-live--cta {
      width: 70%; } }

 .on-air__track-playing__wrap {
  display: block;
  float: right;
  padding: 12px 16px; }
   .on-air__track-playing__wrap .on-air__track-now-playing {
    color: rgba(49, 53, 62, 0.7); }
   .on-air__track-playing__wrap .on-air__now__details {
    position: relative;
    padding-right: 35px; }
     .on-air__track-playing__wrap .on-air__now__details .on-air__track-now-playing__playlister {
      position: absolute;
      top: 3px;
      right: 0;
      width: 32px;
      height: 32px; }
   .on-air__track-playing__wrap h4 {
    font-weight: bold;
    color: inherit;
    padding-bottom: 12px; }
     .on-air__track-playing__wrap h4 .hidden {
      display: none; }

@media only screen and (min-width: 769px) and (max-width: 896px) {
   .on-air__track-playing__wrap {
    float: none;
    width: 100%; }
     .on-air__track-playing__wrap .on-air__track-now-playing h4,
     .on-air__track-playing__wrap .on-air__track-now-playing > .on-air__now__details {
      padding-left: 16px; } }

@media only screen and (min-width: 480px) and (max-width: 768px) {
   .on-air__track-playing__wrap {
    width: 50%; } }

 .on-air__track-playing__wrap .on-air__track-now-playing__playlister .p-f-p_playlister {
  width: 100%;
  height: 100%; }
   .on-air__track-playing__wrap .on-air__track-now-playing__playlister .p-f-p_playlister .p-form {
    width: 100%;
    height: 100%; }
     .on-air__track-playing__wrap .on-air__track-now-playing__playlister .p-f-p_playlister .p-form .p-f-button {
      width: 100%;
      height: 100%; }
       .on-air__track-playing__wrap .on-air__track-now-playing__playlister .p-f-p_playlister .p-form .p-f-button .p-f-label {
        visibility: hidden; }
       .on-air__track-playing__wrap .on-air__track-now-playing__playlister .p-f-p_playlister .p-form .p-f-button .p-f-icon {
        width: 100%;
        height: 100%;
        background-image: url("../img/playlister.svg");
        background-repeat: no-repeat;
        background-size: contain; }
         .on-air__track-playing__wrap .on-air__track-now-playing__playlister .p-f-p_playlister .p-form .p-f-button .p-f-icon .p-f-icon-sprite {
          width: 100%;
          height: 100%; }
         .on-air__track-playing__wrap .on-air__track-now-playing__playlister .p-f-p_playlister .p-form .p-f-button .p-f-icon .p-f-icon-spinner {
          width: 100%;
          height: 100%;
          top: 0; }

 * {
  white-space: normal; }

 .on-air {
  color: #ffffff;
  position: relative;
  /* List */
  /* Logo */
  /* Other */
  /*this section styles the listen live player section*/ }
   .on-air .invisible {
    visibility: hidden;
    display: none; }
   .on-air a {
    text-decoration: none;
    color: #ffffff; }
   .on-air a:hover,
   .on-air a:focus {
    color: #e8418e; }
   .on-air p,  .on-air ul {
    margin: 0;
    padding: 0; }
   .on-air .on-air__container {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    left: 170px;
    background-color: rgba(49, 53, 62, 0.7);
    width: calc(100% - 170px); }
     .on-air .on-air__container li {
      min-width: 350px;
      max-width: 376px;
      position: relative;
      list-style-type: none;
      display: inline-block;
      vertical-align: top;
      border-left: 1px solid #ffffff;
      padding: 12px 16px; }
       .on-air .on-air__container li:first-child {
        border-left: 0; }
       .on-air .on-air__container li:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0; }
     .on-air .on-air__container .on-air__episode-link {
      display: block; }
   .on-air .on-air__logo-container {
    width: 170px;
    height: 100%;
    background-color: rgba(49, 53, 62, 0.7);
    position: absolute;
    z-index: 999; }
     .on-air .on-air__logo-container:before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: -250%;
      width: 250%;
      background: rgba(49, 53, 62, 0.7); }
     .on-air .on-air__logo-container .on-air__listen-live--cta span {
      display: none; }
   .on-air .on-air__logo {
    display: block;
    position: relative;
    margin-top: -8px;
    z-index: 999; }
     .on-air .on-air__logo img {
      width: auto;
      height: 145px; }
   .on-air .on-air__episode-image {
    display: block; }
   .on-air .on-air__play-button {
    float: left;
    height: 32px;
    width: 32px;
    background-color: transparent;
    background-image: url("../img/iplayer-radio-play-light.svg");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -5px 3px 0 -5px; }
   .on-air .on-air__previous,
   .on-air .on-air__next,
   .on-air .on-air__episode-title {
    font-weight: bold; }
   .on-air .on-air__info-top {
    padding-bottom: 12px; }
   .on-air .on-air__time {
    font-size: 12px; }
   .on-air #mp {
    width: 90%;
    height: 34px;
    position: absolute;
    overflow: hidden;
    top: 0; }
     .on-air #mp #marketPlacePopup {
      width: 100%;
      left: 0;
      padding-top: 0; }

@media only screen and (min-width: 769px) and (max-width: 896px) {
   .on-air .on-air__logo-container {
    width: 15px; }
   .on-air .on-air__container {
    left: 15px;
    width: 100%; } }

@media only screen and (max-width: 768px) {
   .b-g-m {
    margin: 0; }
     .b-g-m .on-air {
      position: relative; }
       .b-g-m .on-air .on-air__logo-container {
        width: auto;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1002;
        background-color: transparent; }
         .b-g-m .on-air .on-air__logo-container:before {
          background: none; }
         .b-g-m .on-air .on-air__logo-container .on-air__logo {
          display: block;
          position: relative;
          margin-top: 8px;
          margin-left: 8px; }
           .b-g-m .on-air .on-air__logo-container .on-air__logo img {
            width: auto;
            height: 105px;
            display: block;
            visibility: visible; }
       .b-g-m .on-air .on-air__container {
        left: 0;
        width: 100%; } }
